[mysqld]
bind-address = 0.0.0.0            # Разрешает подключение с любых интерфейсов
skip-name-resolve                 # Отключает разрешение имени хоста (ускоряет работу)
max_connections = 1000            # Максимальное количество соединений
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
innodb_buffer_pool_size = 256M    # Настройка размера буфера для InnoDB
innodb_log_file_size = 50M        # Размер файлов лога InnoDB
